VITE_PAYROXA_APP_URL=
VITE_PAYROXA_BUSINESS_URL=
VITE_PAYROXA_CARDS_URL=
VITE_PAYROXA_LOGIN_URL=
VITE_PAYROXA_PAYMENTS_URL=
VITE_PAYROXA_REGISTER_URL=
VITE_PAYROXA_STORE_URL=
VITE_PAYROXA_WALLET_URL=
VITE_PAYROXA_WEBSITE_URL=